@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@font-face {
    font-family: 'CriteriaCF';
    src: url('./fonts/CriteriaCF-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
  font-family: 'PPNeueBit';
  src: url('./fonts/PPNeueBit-Bold.otf') format('opentype');
  font-weight: bold;
}


$pleasantly-pink: #BF8097;
$outstanding-orange: #9A2400;
$matured-maroon: #38001E;
$progressive-pistachio: #6E7D68;

$purple: #4d1630;
$pink: #f9cecf;

$black: #0D0D0D;
$white: #FFFFFF;
$success: #2EC786;
$error: #FF3B53;

body {
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    //   Arial, sans-serif;
    font-family: 'DM Sans', sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;

    &#cloud {
        max-width: unset;
        padding: unset;

        background-color: $purple
    }

    &#testimonial {
        

        background-color: $pink;
        color: $white;
    }
}
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: left;
    font-family: 'CriteriaCF';
   
}


#app {
  display: flex;
  flex-direction: column;
  gap: 2rem;  
}


#wordcloud {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
}


.scanning {
  position: relative;

  width: 100%;
  height: 600px;
}


.div-process {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 999;

  opacity: 0;
  pointer-events: none;
}

.div-render {
  position: absolute;
  width: 100%;
  height: 100%;
  // background-color: blanchedalmond;

  .loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -999;
      background-color: #f0f0f057;
      padding: 1rem;
      border-radius: 0.5rem;    

      @keyframes spin {
          0% { transform: translate(-50%, 75%) rotate(0deg); }
          100% { transform: translate(-50%, 75%) rotate(-360deg); }
      }


      .loading-text {
          font-size: 1.5rem;
          font-weight: bold;
      }
  }
}

video {
  display: none!important;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -999;
  transform-origin: bottom right;
  // transform: scale(0.5);

  
}

@keyframes growAndShrink {
  0% {
      scale: 1.2;
      opacity: 0;
      // rotate: -22deg;
  }
  25%{
    opacity: 1;
  }
  50% {
      scale: 1;
      opacity: 1;
      // rotate: 0deg;
  }
  75% {
    opacity: 0;
  }
  100% {
      scale: 0.3;
      opacity: 0;
      // rotate: 22deg;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#text {

  // font-family: "PPNeueBit", sans-serif;
  // color: $pink;
  text-shadow: 0 0 10px $purple;
  opacity: 0;
  font-weight: bold;
  transform-origin: center;
  animation: growAndShrink 15s linear infinite;
}


.wordcloud {
  transition: opacity .50s ease;
  
  opacity: 1;

  &.hidden {
    opacity: 0;
  }
}



.hidden {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 100%;
    left: 100%;
}