@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@font-face {
    font-family: 'CriteriaCF';
    src: url('./fonts/CriteriaCF-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
  font-family: 'PPNeueBit';
  src: url('./fonts/PPNeueBit-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: "DMSans-Variable";
  src: url('./fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: normal;
}


$pleasantly-pink: #BF8097;
$outstanding-orange: #9A2400;
$matured-maroon: #38001E;
$progressive-pistachio: #6E7D68;

$purple: #4d1630;
$pink: #f9cecf;

$black: #0D0D0D;
$white: #FFFFFF;
$success: #2EC786;
$error: #FF3B53;

body {
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    //   Arial, sans-serif;
    font-family: 'DM Sans', sans-serif;
    margin: auto;
    max-width: 45rem;
    padding: 2rem;

    &#cloud {
        max-width: unset;
        padding: unset;

        background-color: $purple
    }

    &#testimonial {
        
        font-family: "DMSans-Variable";
        background-color: $pink;
        color: $purple;
    }
}



h1 {
  font-size: 4em;
}

h1, h2, h3, h4, h5, h6, button {

    text-align: left;
    font-family: 'PPNeueBit';
    font-weight: bolder;
    text-transform: uppercase;
    color: $purple;
    margin: 0;
   
}


#app {
  display: flex;
  flex-direction: column;
  gap: 2rem;  
}


#wordcloud {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
}


.scanning {
  position: relative;

  width: 100%;
  height: 600px;
}


.div-process {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 999;

  opacity: 0;
  pointer-events: none;
}

.div-render {
  position: absolute;
  width: 100%;
  height: 100%;
  // background-color: blanchedalmond;

  .loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -999;
      background-color: #f0f0f057;
      padding: 1rem;
      border-radius: 0.5rem;    

      @keyframes spin {
          0% { transform: translate(-50%, 75%) rotate(0deg); }
          100% { transform: translate(-50%, 75%) rotate(-360deg); }
      }


      .loading-text {
          font-size: 1.5rem;
          font-weight: bold;
      }
  }
}

video {
  display: none!important;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -999;
  transform-origin: bottom right;
  // transform: scale(0.5);

  
}

@keyframes growAndShrink {
  0% {
      scale: 1.2;
      opacity: 0;
      // rotate: -22deg;
  }
  25%{
    opacity: 1;
  }
  50% {
      scale: 1;
      opacity: 1;
      // rotate: 0deg;
  }
  75% {
    opacity: 0;
  }
  100% {
      scale: 0.3;
      opacity: 0;
      // rotate: 22deg;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#text {

  // font-family: "PPNeueBit", sans-serif;
  // color: $pink;
  text-shadow: 0 0 10px $purple;
  opacity: 0;
  font-weight: bold;
  transform-origin: center;
  animation: growAndShrink 15s linear infinite;
}


.wordcloud {
  transition: opacity .50s ease;
  
  opacity: 1;

  &.hidden {
    opacity: 0;
  }
}



.hidden {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 100%;
    left: 100%;
}



.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  
  font-size: 2em;
  padding: 2rem;
  background-color: transparent;
  border: 2px solid $purple;
  border-radius: 8px;

  &:hover {
    background-color: $purple;
    color: $pink;
    cursor: pointer;
  }

}


input[type="text"] {

  font-family: "PPNeueBit";
  font-weight: bold;
    font-size: 1.5em;
    padding: 1rem;
    background-color: transparent;
    border: 2px solid $purple;
    border-radius: 8px;
    color: $purple;
    width: 100%;


    &:focus {
      outline: none;
      border: 2px solid $purple;
    }
}

.word-input {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  button {
    padding: .5rem;
    white-space: nowrap;
  }
}

.scanning-container, .recording-container {
 

  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.scanning, .scanning-preview-img {
  overflow: hidden;
  border: 2px solid $purple;
  border-radius: 8px;
}

.preview {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.words {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.words .buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: .5rem;

  button {
    padding: .65rem;
   
  }

  button.selected {
    background-color: $purple;
    color: $pink;
   &:hover {
     background-color: $pink;
     color: $purple;
   }    

  }
}

hr {
  border: 1px solid $purple;
  width: 100%;
}